<html>
<head>
	<title>Add an article</title>
	<script src="//cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <ul class="nav nav-pills" style="padding-left:20px">
    <h1>Django_Wiki</h1>
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/browse">Browse All</a></li>
    <li role="presentation"><a href="/search">Search</a></li>
    <li role="presentation" class="active"><a href="/add">Add a article</a></li>
  </ul>
	<hr/>
</head>
<body class="container">
	<h1>{{error}}</h1>
	<h1>Add an article</h1>
	<form method="post" action="/save/">
		Enter the name of article : <br/>
		<input type="text" name="page_name"/><br/><br/>
		Date : 
		<input type="text" name="date" id="date1">
		<input type="text" name="cate" id="date2" hidden>
		<!-- <select name="cate" id="cate">
		{% for e in data %}
      		 <option value="{{e}}">{{e}}</option>
   		{% endfor %}
   		</select> --><br/><br/>
		Enter the article content : <br/>
		<textarea name="content" rows="20" cols="60">{{content}}</textarea><br/>
		<input type="submit" value="save page"/>
	</form>
	<script>
        CKEDITOR.replace( 'content' );
    </script>
    <script>
    var m_names = new Array("January", "February", "March", 
	"April", "May", "June", "July", "August", "September", 
	"October", "November", "December");

	var d = new Date();
	var curr_date = d.getDate();
	var curr_month = d.getMonth();
	var curr_year = d.getFullYear();
	document.getElementById("date1").defaultValue = curr_date + "-" + m_names[curr_month] 
+ "-" + curr_year;
	document.getElementById("date2").defaultValue = m_names[curr_month] 
+ " " + curr_year;
	document.getElementById('date1').readOnly = true;

	// var temp = "General";
	// var mySelect = document.getElementById('cate');

	// for(var i, j = 0; i = mySelect.options[j]; j++) {
	//     if(i.value == temp) {
	//         mySelect.selectedIndex = j;
	//         break;
	//     }
	// }
	</script>
</body>
</html>