<html>
<head>
  <title>Wiki</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <ul class="nav nav-pills" style="padding-left:20px">
    <h1>Django_Wiki</h1>
    <li role="presentation" ><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="/browse">Browse All</a></li>
    <li role="presentation"><a href="/search">Search</a></li>
    <li role="presentation"><a href="/add">Add a article</a></li>
  </ul>
  <hr/>
</head>
<body class="container">
<style type="text/css">
	#parent {
  display: flex;
}
#narrow {
  width: 30%;
  /* Just so it's visible */
}
#wide {
  flex: 1;
  /* Just so it's visible */
}
</style>
<div id="parent">
  <div id="wide">
  		<h1> All Articles </h1>
	{% if data %}
	<ul>
   {% for e in data %}
      <li><a href="/wiki/{{e.name}}/">{{e.name}} ({{e.cate}})</a></li>
   {% endfor %}
{% else %}
   There are no articles.
{% endif %}
  </div>
  <div id="narrow">
  	<h1>View by Category</h1>
  		{% if cate %}
	<ul>
   {% for e in cate %}
      <li><a href="/wiki/{{e}}/browse">{{e}}</a></li>
   {% endfor %}
{% else %}
   There are no categories.
{% endif %}
  </div>
</div>
</body>
</html> 

