<html>
<head>
	<title>Wiki</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<ul class="nav nav-pills" style="padding-left:20px">
		<h1>Django_Wiki</h1>
	  <li role="presentation" class="active"><a href="/">Home</a></li>
	  <li role="presentation"><a href="/browse">Browse All</a></li>
	  <li role="presentation"><a href="/search">Search</a></li>
	  <li role="presentation"><a href="/add">Add a article</a></li>
	</ul>
	<hr/>
</head>
<body class="container">
	<h1> Welcome to Django wiki app </h1>

	Please use the menu on the top to navigate and search different articles.
</body>
</html> 

